In [27]:
# add in alternate external data for analysis
import pandas as pd
import os

current_datadir = './trimmed_data_and_plots/'
alternate_data = './alternate_data/'

In [28]:

files = os.listdir(current_datadir)

produce_items = []
for n in files:
    if n.endswith('.csv'):
        produce_items.append(n)

In [29]:
# import alt data oil:
oilprices = pd.read_csv(alternate_data+'POILWTIUSDM.csv', index_col=0)

# import stock data:
yfprices = pd.read_csv(alternate_data+'yftickers.csv', index_col=0)

In [30]:
joined_alt = pd.concat([yfprices, oilprices], axis=1)
joined_alt

                  SYY        FDP      SENEA        CAG         KR  POILWTIUSDM
2007-01-01        NaN        NaN        NaN        NaN        NaN        54.24
2007-01-03  25.126740  13.408706  24.209999  13.242137   8.437612          NaN
2007-01-04  25.071022  13.408706  24.309999  13.497172   8.590560          NaN
2007-01-05  24.994415  13.077737  24.549999  13.403987   8.594204          NaN
2007-01-08  24.778538  12.979341  24.549999  13.492269   8.616052          NaN
2007-01-09  24.924778  12.988286  24.549999  13.492269   8.612411          NaN
2007-01-10  24.862108  13.041957  24.549999  13.408892   8.630618          NaN
2007-01-11  25.029238  13.310307  24.549999  13.457932   8.656108          NaN
2007-01-12  24.729776  13.328201  24.549999  13.266661   8.586917          NaN
2007-01-16  24.889963  13.319253  24.500000  13.335320   8.648824          NaN
2007-01-17  24.889963  13.337143  25.530001  13.237240   8.637901          NaN
2007-01-18  25.105852  13.229801  25.389999  13.197997   8.667033          NaN
2007-01-19  25.224243  13.104571  24.840000  13.075387   8.783566          NaN
2007-01-22  25.147633  13.211913  24.840000  13.163665   8.849113          NaN
2007-01-23  25.196384  13.301365  25.500000  13.075387   8.860042          NaN
2007-01-24  25.572449  13.256640  25.920000  13.090103   8.870964          NaN
2007-01-25  25.314777  13.426593  25.010000  13.075900   8.765358          NaN
2007-01-26  25.140665  13.542882  24.639999  12.907690   8.925589          NaN
2007-01-29  23.692120  13.623387  24.570000  12.902738   9.114951          NaN
2007-01-30  23.914972  13.811237  24.549999  12.739475   9.307955          NaN
2007-01-31  24.061224  13.775455  24.520000  12.719688   9.322524          NaN
2007-02-01  24.214441  13.784399  24.500000  12.784007   9.366223        59.25
2007-02-02  24.444256  13.936466  24.700001  12.764217   9.413561          NaN
2007-02-05  24.221397  13.963299  24.299999  12.620740   9.457261          NaN
2007-02-06  24.304966  14.061694  24.330000  12.605906   9.366223          NaN
2007-02-07  23.928902  14.160091  24.600000  12.586114   9.519170          NaN
2007-02-08  23.817476  14.195874  25.840000  12.675169   9.449982          NaN
2007-02-09  23.664261  14.285326  26.500000  12.605906   9.424491          NaN
2007-02-12  23.782650  14.365828  26.290001  12.630637   9.431767          NaN
2007-02-13  23.845335  14.437391  26.980000  12.848324   9.450071          NaN
...               ...        ...        ...        ...        ...          ...
2018-05-08  62.740002  47.330002  27.650000  37.400002  23.967442          NaN
2018-05-09  63.500000  47.110001  27.799999  37.669998  24.236069          NaN
2018-05-10  62.740002  47.560001  27.700001  37.759998  24.236069          NaN
2018-05-11  62.820000  47.560001  27.750000  37.849998  24.445000          NaN
2018-05-14  62.900002  47.049999  28.200001  37.750000  24.730000          NaN
2018-05-15  62.950001  47.060001  27.450001  37.720001  24.750000          NaN
2018-05-16  63.349998  47.070000  27.700001  37.779999  24.940001          NaN
2018-05-17  63.860001  47.020000  27.549999  37.720001  25.299999          NaN
2018-05-18  63.540001  46.369999  27.450001  37.419998  24.889999          NaN
2018-05-21  63.639999  46.520000  29.250000  36.910000  24.770000          NaN
2018-05-22  63.689999  46.009998  29.200001  36.869999  24.700001          NaN
2018-05-23  64.099998  45.669998  29.350000  36.950001  24.570000          NaN
2018-05-24  64.589996  45.220001  29.750000  37.060001  24.559999          NaN
2018-05-25  65.019997  45.330002  29.299999  37.410000  24.610001          NaN
2018-05-29  65.150002  45.389999  28.450001  37.360001  24.500000          NaN
2018-05-30  66.050003  45.590000  28.400000  37.750000  24.980000          NaN
2018-05-31  65.029999  44.910000  27.100000  37.060001  24.330000          NaN
2018-06-01  65.410004  44.660000  26.799999  36.939999  24.420000          NaN
2018-06-04  65.739998  44.720001  26.900000  37.580002  24.750000          NaN
2018-06-05  65.830002  44.799999  27.900000  37.369999  24.910000          NaN
2018-06-06  65.779999  45.000000  26.950001  37.049999  24.680000          NaN
2018-06-07  65.760002  43.430000  27.049999  37.180000  24.980000          NaN
2018-06-08  66.150002  43.480000  27.049999  37.740002  25.360001          NaN
2018-06-11  66.410004  43.959999  27.250000  37.660000  25.540001          NaN
2018-06-12  66.220001  43.730000  27.200001  37.700001  25.690001          NaN
2018-06-13  65.889999  43.830002  26.950001  37.950001  26.010000          NaN
2018-06-14  66.480003  43.849998  28.650000  38.200001  26.160000          NaN
2018-06-15  66.889999  44.320000  28.000000  38.500000  25.879999          NaN
2018-06-18  66.750000  44.259998  27.450001  37.939999  26.010000          NaN
2018-06-19  66.919998  44.669998  27.850000  38.320000  26.070000          NaN

[2932 rows x 6 columns]

In [31]:
joined_alt.index = pd.to_datetime(joined_alt.index)

for i in produce_items:
    producedata = pd.read_csv(current_datadir+i, index_col=0)

    producedata.index = pd.to_datetime(producedata.index)

    joined_data = pd.concat([producedata, joined_alt], axis=1)

    joined_data.to_csv(current_datadir+i)